/* Hero section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 90vh;
}

/* Hero right */
.hero-bottom {
  max-width: 600px;
  padding-bottom: 50px;
}

/* Hero Text */
.hero-text {
  padding-bottom: 10px;
}

.hero-bottom > *:not(:last-child) {
  display: block;
  margin-bottom: 25px;
}
.hero-bottom h1 {
  font-size: 60px;
}

.hero-bottom h2 {
  font-weight: 400;
}

/* Hero top */
.hero-top img {
  width: 50%;
}

/* Skills section */
.skills {
  text-align: center;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skills i {
  font-size: 40px;
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .hero {
    padding: 15px;
  }
  .hero-bottom h1 {
    font-size: 40px;
  }
  .hero-bottom h2 {
    font-weight: 12px;
  }
}
